.price-range-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price-range-filter {
    position: relative;
    width: 200px;
    margin-left: 16px;
    /* margin-top: 48px;
    margin-bottom: 48px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.875rem;
    color: var(--fg);
}

.slider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 28px;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: lightseagreen;
}

.slider::-webkit-slider-thumb {
    pointer-events: all;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: lightseagreen;
    border: 2px solid lightseagreen;
    cursor: pointer;
}

.price-range-filter::before {
    content: '';
    position: absolute;
    left: calc((var(--min) / 100) * 100%);
    right: calc((100 - var(--max)) / 100 * 100%);
    bottom: 26px;
    height: 4px;
    background: var(--accent);
    border-radius: 2px;
}

.price-range-filter__values {
    margin-top: 48px;
    display: flex;
    gap: 8px;
}