.reset-button {
    margin-left: auto;
    padding: 8px 16px;
    background-color: transparent;
    color: #cbd5e0;
    border: 0px;
    font-size: 0.75rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.reset-button:hover {
    background-color: #cbd5e0;
    color : var(--bg);
    font-weight: 500;
}

.reset-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}